@font-face {
  font-family: "Norse";
  src: url("./Norsebold.otf") format("opentype");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.image-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.background-photo {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  
  object-fit: cover;
  object-position: center;

  z-index: 0;
}

.logo-section {
  position: absolute;
  left: 0;
  top: 200px;

  width: 100%;
  padding: 15px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  background-color: rgba(0, 0, 0, 0.45);
  z-index: 1;
}

.logo-section img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.logo-text {
  font-family: "Norse", sans-serif;
  font-size: 60px;
  color: white;
}

.photo-credit {
  position: absolute;
  bottom: 15px;
  left: 0;

  width: 100%;
  text-align: center;

  color: white;
  font-size: 14px;

  z-index: 1;
}

.photo-credit a {
  color: white;
  text-decoration: underline;
}

.content-section {
  min-height: 100vh;
  background-color: whitesmoke;
}

.introduction-section {
  padding: 120px 50px 50px;
}

.introduction-section p {
  max-width: 700px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
}

.intro-secondary {
  margin-top: 30px; 
}


.form-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 25px;
  max-width: 650px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-field input {
  width: 100%;
  height: 32px;
  padding: 5px 8px;
}


.form-section {
  padding: 20px 50px 35px;
  background-color: white;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.12);
}

.form-section h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
}

.form-field label {
  margin-bottom: 5px;

  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.form-field input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 5px 8px;

  border: 1px solid #e5e7eb;
  border-radius: 4px;
}

.form-field input:focus {
  outline: none;
  border-color: blue;
  box-shadow: 0 2px 5px rgba(0, 0, 255, 0.25);
}

.form-field input:user-invalid {
  border-color: red;
}

.account-section {
  padding: 35px 50px;
}


.account-section button {
  padding: 12px 45px;

  color: white;
  background-color: #596d48;

  border: none;
  border-radius: 6px;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.account-section button:hover {
  background-color: #485a3a;
}


.log-in {
  margin-top: 28px;
  font-size: 16px;
}

.log-in a {
  color: #596d48;
  font-weight: bold;
  text-decoration: none;
}

.log-in a:hover {
  text-decoration: underline;
}
