* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.logo-section {
  position: relative;
}

.logo-section img {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 100px;
  top: 200px;
  object-fit: contain;
}

.image-section {
  background-color: lightgreen;
}

.content-section {
  background-color: whitesmoke;
}
